<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/5e0964bb-02dc-4d93-b3b5-c87dae8f521f/resourcegroups/cab-platform-rg/providers/Microsoft.Web/sites/cabbooking-booking-api</ResourceId>
    <ResourceGroup>cab-platform-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cabbooking-booking-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2f3efcee-394b-46e1-a85a-0ff24394cd2e</ProjectGuid>
    <PublishUrl>https://cabbooking-booking-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cabbooking-booking-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>