<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/5e0964bb-02dc-4d93-b3b5-c87dae8f521f/resourcegroups/cab-platform-rg/providers/Microsoft.Web/sites/cabbooking-gateway-api</ResourceId>
    <ResourceGroup>cab-platform-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cabbooking-gateway-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7c62aa63-71c1-4a2a-84f4-0c4a60b0d0f6</ProjectGuid>
    <PublishUrl>https://cabbooking-gateway-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cabbooking-gateway-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>